[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
fake-bpy-module-2-80 = "*"
numpy = "*"
pycodestyle = "*"
flake8 = "*"
autopep8 = "*"
isort = "*"

[packages]

[requires]
python_version = "3.7"
